name: CI
on:
  push: { branches: [master] }
  pull_request: { branches: [master] }
  schedule: [ cron: '12 2 6 * *' ]

jobs:
  test-matrix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          python-version: '>=3'

      - run: pip install -U pip setuptools wheel && pip install -U .
      - run: time python -m unittest -v pdoc.test

  lint-test-coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2  # For codecov
      - uses: ./.github/actions/setup
        with:
          python-version: 3.11

      - run: pip install -U pip setuptools wheel && pip install -U .

      - name: Install lint dependencies
        run: |
          pip install flake8 coverage mypy types-Markdown
          sudo apt update && sudo apt-get install \
            texlive-xetex lmodern texlive-fonts-recommended  # test_pdf_pandoc
          wget -O/tmp/pandoc.deb https://github.com/jgm/pandoc/releases/download/2.10/pandoc-2.10-1-amd64.deb && sudo dpkg -i /tmp/pandoc.deb

      - run: find -name '*.md' | xargs .github/lint-markdown.sh
      - run: flake8 pdoc setup.py
      - run: mypy -p pdoc
      - run: time coverage run -m unittest -v pdoc.test
      - run: bash <(curl -s https://codecov.io/bash)
      - run: coverage report
      - run: PDOC_TEST_PANDOC=1 time python -m unittest -v pdoc.test.CliTest.test_pdf_pandoc

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          python-version: 3.11

      - name: Fetch tags
        run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*

      - run: pip install -U pip setuptools wheel && pip install -e .
      - run: time doc/build.sh